body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(220px, 20%) auto;
    grid-template-rows: 17% 83%;
}

#logo {
    width: 90px;
    height: 96px;
}


.title {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border-bottom: 1px solid white;
    width: 100%;
    height: 100%;
    background-color: rgb(44, 64, 88);
    display: grid;
    grid-template-columns: 43% 57%;
    justify-items: center;
    align-items: center;
}

.appname{
    color: #f8f9fa;
    font-size: 35px;
    font-weight: 600;
}

.menus {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width: 100%;
    height: 100%;
    background-color: rgb(44, 64, 88);


}

.menubuttons {
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    display: block;
    width: 90%;
    height: 6%;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #10CAF0;
    color: black;
    display: grid;
    justify-items: center;
    align-items: center;
}

.menubuttons > span {
    font-size: 16px;
}

.main {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    /* background-color: red; */
}

.bottomicons {
    display: none;
}

@media screen and (max-width: 540px) {
    .container {
        display: block;
    }

    .title {
        position: fixed;
        top: 0;
        left: 0;
        overflow: hidden;
        background-color: transparent;
        width: 200px;
        height: 70px;
        grid-template-columns: 40% 60%;
        border: none;
    }

    #logo {
        width: 60px;
        height: 64px;
    }

    .appname {
        font-size: 24px;
        color: rgb(44, 64, 88);
        line-height: 24px;
    }

    .menus {
        position: fixed;
        bottom: 0;
        overflow: hidden;
        width: 100%;
        height: 100px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        padding: 0;
    }

    .menubuttons {
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: transparent;
        border-radius: 0;
    }
    
    .menubuttons:hover {
        background-color: #3D597A;
    }
    .menubuttons > span {
        font-size: 12px;
        font-weight: 500;
        color: #f8f9fa;
        text-align: center;
        align-self: start;
        padding-top: 7px;
    }

    .bottomicons {
        display: block;
        align-self: end;
    }

    .main {
        width: 100%;
        position: fixed;
        top: 70px;
        height: calc(100vh - 170px);
    }
    
}

