.resultspanel {
    width: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
    justify-items: start;
    font-family: 'Noto Sans', sans-serif;
}

.pagetitle {
    grid-row: 1 / span 1;
    color: #2c2c2c;;
    font-size: 24px;
    font-weight: 600;
    padding: 0 40px;
    align-self: center;
    justify-self: center;
} 

#resultlist {
    align-self: center;
    grid-row: 2 / span 1;
    /* width: 100%; */
    height: 100%;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
    padding: 0 30px;
}

.card {
    text-decoration: none;
    width: 200px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 60% 20% 20%;
    align-items: center;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.circle {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    width: 30px;
    height: 30px;
    background-color: #3A52EE;
    border-radius: 50%;
    display: grid;
}

.firstletter {
    color: white;
    justify-self: center;
    align-self: center;
    font-size: 14px; 
}

.storedFileName {
    color: #4c4c4c;
    width: 100%;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    justify-self: start;
    font-size: 12px;
}

.storedDate {
    color: #878787;
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    justify-self: start;
    font-size: 12px;
    margin-left: 15px;
}

.storedName {
    color: #878787;
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    justify-self: start;
    font-size: 12px;
    margin-left: 15px;
}


@media screen and (max-width: 720px) {
    .resultspanel {
        grid-template-rows: 5% 95%;
    }

    .card {
        width: 100%;
        height: 70px;
        grid-template-columns: 25% 25% 50%;
        grid-template-rows: 60% 40% 40%;
    }

    .circle {
        justify-self: end;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .storedFileName {
        grid-column: 2 / span 2;
        grid-row: 1 / span 1;
        display: grid;
        justify-items: center;
    }

    .storedDate{
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
        display: grid;
        justify-items: center;
    }

    .storedName {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;
        display: grid;
        justify-items: start;
    }


}
