html{
    font-size: 14px;
}
*{
    box-sizing: border-box;
}

.bottom4 > i, .bottom4 > span {
    color: #29c8aa;
}
.main{
    margin: 0;
    padding: 2rem 3rem 0rem 3rem;
    display: grid;
    grid-template-rows: 20% 70% 10%;
    font-family: 'Noto Sans', sans-serif;
    
}
.user{
    
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 40% 40%;
    align-items: center;
    justify-items: center;
    
}
