*{
    font-size: 16px;
    /* padding: 2px; */

}
.main {
    font-family: 'Noto Sans', sans-serif;
}

.user > img{
    margin: 10px ;
    padding: 10px 10px;
    object-fit: cover;
    height: 130px;
    width: 130px;
    border-radius: 50%;
}

.user{
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
}

#name{
    justify-self: start;
}

#screenings{

    padding: 10px;
}

.screening{
    border-bottom: solid 2px rgb(221, 216, 216);
}
/* button{
    margin: 10px;
} */

.user span{
    font-size: 30px;
    font-weight: 700;
}

#showlist{
    margin: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 80px;
}
input[type = "date"]{
    border: none;
}

h2 {
    text-align: center;
}

#basicInforSubmit, #setDate {
    width: 5rem;
    height: 8%;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
}

